Arthur Alexandersson <arthuralexandersson@hotmail.se>
Gustav Gille <gustav.gille@gmail.com>
Herman Norén <herman.noren@outlook.com>
Kasper Ljunggren <kaslju@student.chalmers.se> <ljunggrenkasper0@gmail.com>
Rickard Leksell <rickard.leksell@gmail.com>
